/* Card container */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--md-sys-color-shadow);
    padding: 10px;
    background-color: var(--md-sys-color-on-primary);
    max-width: 180px;
    margin: 10px;
    font-family: Arial, sans-serif;
}

/* Card title */
.card .title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--md-sys-color-primary);
    margin-bottom: 20px;
}

/* Card subtitle */
.card .subtitle {
    font-size: 1.5em;
    color: var(--md-sys-color-secondary);
    margin-bottom: 15px;
}

.canvas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Optional: add spacing between canvases */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

div.md-chip-container {
    float: left;
    margin: 0 5px 5px 0;
}
